*{
    font-family:sans-serif;
}


nav ul{
    text-align:right; 
}

nav a{
    color:black;
    outline:none;
    text-decoration:none;
    line-height:3;
}


nav li{
    display : inline;
    padding : 5px;
    text-decoration: none;
    font-weight:bold;

}

nav #header{
    float:left;
    font-size: larger;
}

#outer-div{
    justify-content:space-evenly;
    position:relative;
    top:200px;
    left:200px;
}

.second-div{
    display:inline-block;
    display:flex;
}

h1{
    font-size:50px;
    font-weight:bold;
}

#my-image{
    height: 250px;
    width:250px;
    background-color:pink;
    border:2px solid black;
    border-radius:50%;
    position:fixed;
    top:280px;
    left:650px;
    background-image:url('portfolio-img.jpg');
    background-size:cover;
}


